<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cisco.css') }}">


    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'></head>
<body>
    <header class="fixed-header">
        <img src="{{ url_for('static', filename='images/cisco.png') }}" alt="Logo 2" class="logo1">

        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo 1" class="logo">
    </header>

    <div class="panel">  
        <h1 align="center">Admin Login</h1>
        <form action="/admin_login" method="POST">
            <div class="admin">
            <label for="username"></label>
            <input type="text" id="username" name="username" placeholder="Username" required>
            <i class='bx bxs-user'></i>
            </div>
            <div class="admin">
            <label for="password"></label>
            <input type="password" id="password" name="password"placeholder="Password" required>
            <i class='bx bxs-lock'></i> </div>
        <button type="button" class="bttn" onclick=window.location.href="{{ url_for('show_switchs') }}">Retour</button>

            <button type="submit" class="bttn">Login</button>

        </form>

        </div>
</body>
</html>
