<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Port Layout</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/port.css') }}">
</head>
<body>
    <header class="fixed-header">
        <img src="{{ url_for('static', filename='images/cisco.png') }}" alt="Logo 2" class="logo1">

        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo 1" class="logo">
    </header>
    <div class="switch-name"> <h1 align =center >Ports for: <span id="switchNameDisplay"></span></h1></div>

    <div class="port-container">
<!-- Première rangée de cases numérotées -->
<div class="port-row">
    
    <div class="port-item">
        <div class="port-number top">1</div>
        <div class="port"></div>
    </div>
    <div class="port-item">
        <div class="port-number top">3</div>
        <div class="port"></div>
    </div>
    <div class="port-item">
        <div class="port-number top">5</div>
        <div class="port"></div>
    </div>
    <div class="port-item">
        <div class="port-number top">7</div>
        <div class="port"></div>
    </div>
    <div class="port-item">
        <div class="port-number top">9</div>
        <div class="port"></div>
    </div>
    <div class="port-item">
        <div class="port-number top">11</div>
        <div class="port"></div>
    </div>
    <div class="port-item">
        <div class="port-number top">13</div>
        <div class="port"></div>
    </div>
    <div class="port-item">
        <div class="port-number top">15</div>
        <div class="port"></div>
    </div>
    <div class="port-item">
        <div class="port-number top">17</div>
        <div class="port"></div>
    </div>
    <div class="port-item">
        <div class="port-number top">19</div>
        <div class="port"></div>
    </div>
    <div class="port-item">
        <div class="port-number top">21</div>
        <div class="port"></div>
    </div>
    <div class="port-item">
        <div class="port-number top">23</div>
        <div class="port"></div>
    </div>
</div>
      
 <!-- Deuxième rangée de cases numérotées -->
 <div class="port-row">
    <div class="port-item">
        <div class="port"></div>
        <div class="port-number bottom">2</div>
    </div>
    <div class="port-item">
        <div class="port"></div>
        <div class="port-number bottom">4</div>
    </div>
    <div class="port-item">
        <div class="port"></div>
        <div class="port-number bottom">6</div>
    </div>
    <div class="port-item">
        <div class="port"></div>
        <div class="port-number bottom">8</div>
    </div>
    <div class="port-item">
        <div class="port"></div>
        <div class="port-number bottom">10</div>
    </div>
    <div class="port-item">
        <div class="port"></div>
        <div class="port-number bottom">12</div>
    </div>
    <div class="port-item">
        <div class="port"></div>
        <div class="port-number bottom">14</div>
    </div>
    <div class="port-item">
        <div class="port"></div>
        <div class="port-number bottom">16</div>
    </div>
    <div class="port-item">
        <div class="port"></div>
        <div class="port-number bottom">18</div>
    </div>
    <div class="port-item">
        <div class="port"></div>
        <div class="port-number bottom">20</div>
    </div>
    <div class="port-item">
        <div class="port"></div>
        <div class="port-number bottom">22</div>
    </div>
    <div class="port-item">
        <div class="port"></div>
        <div class="port-number bottom">24</div>
    </div>
</div>
        

<div>  <br> <br>  </div>

<div class="port-row">
    <div class="port-item">
        <div class="port-number top">25</div>
        <div class="port"></div>
    </div>
    <div class="port-item">
        <div class="port-number top">27</div>
        <div class="port"></div>
    </div>
    <div class="port-item">
        <div class="port-number top">29</div>
        <div class="port"></div>
    </div>
    <div class="port-item">
        <div class="port-number top">31</div>
        <div class="port"></div>
    </div>
    <div class="port-item">
        <div class="port-number top">33</div>
        <div class="port"></div>
    </div>
    <div class="port-item">
        <div class="port-number top">35</div>
        <div class="port"></div>
    </div>
    <div class="port-item">
        <div class="port-number top">37</div>
        <div class="port"></div>
    </div>
    <div class="port-item">
        <div class="port-number top">39</div>
        <div class="port"></div>
    </div>
    <div class="port-item">
        <div class="port-number top">41</div>
        <div class="port"></div>
    </div>
    <div class="port-item">
        <div class="port-number top">43</div>
        <div class="port"></div>
    </div>
    <div class="port-item">
        <div class="port-number top">45</div>
        <div class="port"></div>
    </div>
    <div class="port-item">
        <div class="port-number top">47</div>
        <div class="port"></div>
    </div>
</div>
      
 <!-- Deuxième rangée de cases numérotées -->
 <div class="port-row">
    <div class="port-item">
        <div class="port"></div>
        <div class="port-number bottom">26</div>
    </div>
    <div class="port-item">
        <div class="port"></div>
        <div class="port-number bottom">28</div>
    </div>
    <div class="port-item">
        <div class="port"></div>
        <div class="port-number bottom">30</div>
    </div>
    <div class="port-item">
        <div class="port"></div>
        <div class="port-number bottom">32</div>
    </div>
    <div class="port-item">
        <div class="port"></div>
        <div class="port-number bottom">34</div>
    </div>
    <div class="port-item">
        <div class="port"></div>
        <div class="port-number bottom">36</div>
    </div>
    <div class="port-item">
        <div class="port"></div>
        <div class="port-number bottom">38</div>
    </div>
    <div class="port-item">
        <div class="port"></div>
        <div class="port-number bottom">40</div>
    </div>
    <div class="port-item">
        <div class="port"></div>
        <div class="port-number bottom">42</div>
    </div>
    <div class="port-item">
        <div class="port"></div>
        <div class="port-number bottom">44</div>
    </div>
    <div class="port-item">
        <div class="port"></div>
        <div class="port-number bottom">46</div>
    </div>
    <div class="port-item">
        <div class="port"></div>
        <div class="port-number bottom">48</div>
    </div>
</div>

       

        <div class="confirm-container">
            <a href="{{ url_for('show_switchs') }}"><button class="retour">Retour</button></a>

            <button class="confirm-button">Confirmer la sélection</button>

        </div>
    </div>


    
    <script>

document.addEventListener('DOMContentLoaded', () => {
    const urlParams = new URLSearchParams(window.location.search);
    const switchName = urlParams.get('switch');
    if (switchName) {
        document.getElementById('switchNameDisplay').innerText = switchName;  //load the name of the switch
    }
});


document.addEventListener('DOMContentLoaded', () => {
    const portItems = document.querySelectorAll('.port-item'); // Sélection de tous les ports
    const switchNameDisplay = document.getElementById('switchNameDisplay').innerText; // Récupération du nom du switch
    const confirmButton = document.querySelector('.confirm-button');
    let selectedPortNumber = '';  // Variable pour stocker le numéro du port sélectionné
    const switchNumber = switchNameDisplay.match(/\d+/)[0];

    portItems.forEach(portItem => {
        portItem.addEventListener('click', () => {
            const portNumber = portItem.querySelector('.port-number').innerText;
            selectedPortNumber = portNumber;  // Sauvegarde le numéro du port sélectionné

           // alert(`Switch: ${switchNumber}, Port: ${portNumber}`); // Affiche le nom du switch et le numéro du port sélectionné

        });
    });
    confirmButton.addEventListener('click', () => {
        if (selectedPortNumber && switchNumber) {
            fetch(`/api/port-locked-status/${switchNumber}/${selectedPortNumber}`)
                .then(response => response.json())
                .then(data => {
                    if (data.locked === 'no') {
                        window.location.href = `/dashboard?switch=${encodeURIComponent(switchNumber)}&port=${encodeURIComponent(selectedPortNumber)}`;
                    } else if (data.locked === 'yes') {
                        alert('Le port sélectionné est verrouillé, veuillez en choisir un autre.');
                    }
                });
        } else {
            alert('Veuillez sélectionner un port avant de confirmer.');
        }
    });

    


});





        // Ajoutez l'écouteur d'événement au chargement de la page
        document.addEventListener("DOMContentLoaded", function() {
            // Sélectionnez tous les éléments de classe 'port'
            const ports = document.querySelectorAll('.port');

            // Fonction pour réinitialiser toutes les cases à leur couleur d'origine
            function resetBackgrounds() {
                ports.forEach(port => {
                    port.style.backgroundColor = '#9c9c9c'; // Couleur d'origine
                });
            }

            // Parcourez chaque élément et ajoutez un écouteur de clic
            ports.forEach(port => {
                port.addEventListener('click', function() {
                    // Réinitialise la couleur de fond de toutes les cases
                    resetBackgrounds();
                    // Change la couleur de fond de la case cliquée en vert
                    this.style.backgroundColor = '#00b36b';
                });
            });
        });
    </script>

</body>
</html>
